.jumbotron {
    background: url(https://images6.alphacoders.com/397/thumb-1920-397921.jpg)  ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color:black;
    

}