.jumbotron {
    background: url(../img/149-1491781_back-to-53-book-wallpapers-hd-law-book.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color:black;
    

}