
.nav-bar{
  padding: 10px;
  background-color: darkcyan;
}

.nav-bar > ul{
  display: flex;
  list-style-type: none;
}

.nav-bar > ul >li {
  padding: 8px;
  margin-right: 1rem;
  border: 1px solid #fff;
  border-radius: 4px;
}
.nav-bar a{
  color: #fff;
  text-decoration: none;
}

.nav-bar .active{
  text-decoration: underline;
}
