

.nav-bar{
  padding: 10px;
  background-color: darkcyan;
}

.btn {
  cursor: pointer;
}

.menu {
  margin-top: 30px;
  

}

.btn-primary {
  
}

.nav-bar .active{
  text-decoration: underline;
}


.footer{
  display: flex;
  color: #fff;
  margin-top: 200px;
  width: 100%;
  background-color: rgb(83, 83, 134);
  bottom: 0;
}

li{
  list-style-type: none;
}
.footer > ul > li{
  margin-bottom: 5px;
  font-size: 15px;
  color: #fff;
}
.footer-link-elements{
  color: #fff;
  text-decoration: none;
}

.footer-link-main{
  width: 30%;
  font-size: 20px;
}

.footer-link-main > div {
  margin-top: 5px;
  margin-bottom: 10px;
  width: 250px;
  background-color: black;
  height: 2px;
}

.img-inst{
  width: 50px;
  margin-top: 15px;
  border-radius: 50%;
  cursor: pointer;
}

.social-sets{
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.add-task{
  margin-left: 50px;
  width: 300px;
  display: flex;
  flex-direction: column;
}

.contact{
  border: 1px solid black;
  width: 300px;
  padding: 15px;
}

.listing{
  justify-content: center;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 15px;
}


.photo-block {
  width: 150px;
  height: 200px;
  background-size: cover;
  background-position: center;
  border: 2px solid #000;
}

.home {

text-align: center;

}

